<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
    <header>
        <h1>my site</h1>
    </header>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Project</a></li>
        </ul>
    </nav>
    
    <main>
        <section>
            <div id="carouselExample" class="carousel slide">

                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./welcome-light.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./welcome-light.png" class="d-block w-100" alt="...">
                  </div>
                  
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>

              </div>

        </section>

        <section>

          <div class="form-group mb-3 mx-2">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" class="form-control" id="exampleInputTitle1" aria-describedby="emailHelp" placeholder="Enter Title">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>

          <div class="form-group mb-3 mx-2">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Enter Name">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>

          <div class="form-group mb-3 mx-2">
            <label for="exampleInputEmail1">Surname</label>
            <input type="text" class="form-control" id="exampleInputSurname1" aria-describedby="emailHelp" placeholder="Enter Surname">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>



          <div class="form-group mb-3 mx-2">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="form-group mb-3 mx-2">
            <label for="exampleInputPassword1">Mobile Number</label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Mobile Number">
          </div>

          <div class="form-group form-check mb-3 mx-2">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>


          <button type="submit" class="btn btn-primary mx-2">Submit</button>
       
       
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>

<!-- [
    "https://zehntechtechnologies.sharepoint.com/sites/SharepointSpfx/SiteAssets/Lists/1a3c09c0-bbf3-4ef5-9616-e3e93ca3a82a/Laptop%20Image.jfif",
    "https://zehntechtechnologies.sharepoint.com/sites/SharepointSpfx/SiteAssets/Lists/1a3c09c0-bbf3-4ef5-9616-e3e93ca3a82a/pen%20drive.png",
    "https://zehntechtechnologies.sharepoint.com/sites/SharepointSpfx/SiteAssets/Lists/1a3c09c0-bbf3-4ef5-9616-e3e93ca3a82a/Earphone.jpg",
    "https://zehntechtechnologies.sharepoint.com/sites/SharepointSpfx/SiteAssets/Lists/1a3c09c0-bbf3-4ef5-9616-e3e93ca3a82a/Keyboard.jfif"
] -->